In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
filepath = "clean_reviews_data.db"
engine = create_engine(f"sqlite:///{filepath}")
df = pd.read_sql("SELECT ID, AUTHOR, TITLE, REVIEW, RATING FROM IMDB_REVIEWS", engine)

In [16]:
df

,ID,AUTHOR,TITLE,REVIEW,RATING
0,1,margarida-44311,Not Bad,I don't get all the terrible reviews for this ...,5.0
1,2,joemay-2,What are all the bad reviews about is it a wo...,I cannot believe anyone could give this film l...,8.0
2,3,nebk,Great White=Jaws Lite,Great White is not the worst way to spend 90 m...,4.0
3,4,kuarinofu,Bare-bones killer shark film,Great White is as basic of a killer shark film...,4.0
4,5,Horror_Flick_Fanatic,"Terrible story, dialogue, and CGI","Terrible story, dialogue and CGI. The film has...",4.0
...,...,...,...,...,...
5327,5446,suryajijvania,More Parts,"It's master piece by Zack please part 2,3,4 al...",10.0
5328,5447,shishirkmr-82243,It's a fantastic movie,No words to describe. It's awesome. One of the...,10.0
5329,5448,moizsyed-07601,Awesome out standing!,Far better than previous one and better editin...,10.0
5330,5449,samun_shrestha,EPIC,Why did the studio say no to this masterpiece?...,10.0
5331,5450,mmuradali-65680,The best DC movie till date,Overall Opinion-Although the competitors Marve...,10.0

In [17]:
imdb = df.copy()
imdb

,ID,AUTHOR,TITLE,REVIEW,RATING
0,1,margarida-44311,Not Bad,I don't get all the terrible reviews for this ...,5.0
1,2,joemay-2,What are all the bad reviews about is it a wo...,I cannot believe anyone could give this film l...,8.0
2,3,nebk,Great White=Jaws Lite,Great White is not the worst way to spend 90 m...,4.0
3,4,kuarinofu,Bare-bones killer shark film,Great White is as basic of a killer shark film...,4.0
4,5,Horror_Flick_Fanatic,"Terrible story, dialogue, and CGI","Terrible story, dialogue and CGI. The film has...",4.0
...,...,...,...,...,...
5327,5446,suryajijvania,More Parts,"It's master piece by Zack please part 2,3,4 al...",10.0
5328,5447,shishirkmr-82243,It's a fantastic movie,No words to describe. It's awesome. One of the...,10.0
5329,5448,moizsyed-07601,Awesome out standing!,Far better than previous one and better editin...,10.0
5330,5449,samun_shrestha,EPIC,Why did the studio say no to this masterpiece?...,10.0
5331,5450,mmuradali-65680,The best DC movie till date,Overall Opinion-Although the competitors Marve...,10.0

In [21]:
author = imdb[["ID", "AUTHOR"]] 
author

        ID                AUTHOR
0        1       margarida-44311
1        2              joemay-2
2        3                  nebk
3        4             kuarinofu
4        5  Horror_Flick_Fanatic
...    ...                   ...
5327  5446         suryajijvania
5328  5447      shishirkmr-82243
5329  5448        moizsyed-07601
5330  5449        samun_shrestha
5331  5450       mmuradali-65680

[5332 rows x 2 columns]

In [32]:
ummm= imdb.groupby("AUTHOR").count()
ummm

                   ID  TITLE  REVIEW  RATING
AUTHOR
108YearsOld         3      3       3       3
123123BROCOLLI      1      1       1       1
13Funbags           1      1       1       1
3fittyz             1      1       1       1
ABCloverLane        1      1       1       1
...                ..    ...     ...     ...
zsoltfekete-82111   1      1       1       1
zulmaidy            1      1       1       1
zulutrystan         1      1       1       1
zuzubrodsky         1      1       1       1
zysemily            1      1       1       1

[4678 rows x 4 columns]