In [3]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Integer, MetaData
import numpy as np
from sqlalchemy.ext.automap import automap_base

In [5]:
filepath = "../clean_reviews_data.db"
engine = create_engine(f"sqlite:///{filepath}")
data_df = pd.read_sql('SELECT AUTHOR, TITLE, REVIEW, RATING FROM "IMDB_Reviews"', engine)
data_df

,AUTHOR,TITLE,REVIEW,RATING
0,margarida-44311,Not Bad,I don't get all the terrible reviews for this ...,5.0
1,joemay-2,What are all the bad reviews about is it a wo...,I cannot believe anyone could give this film l...,8.0
2,nebk,Great White=Jaws Lite,Great White is not the worst way to spend 90 m...,4.0
3,kuarinofu,Bare-bones killer shark film,Great White is as basic of a killer shark film...,4.0
4,Horror_Flick_Fanatic,"Terrible story, dialogue, and CGI",Terrible story dialogue and CGI. The film has ...,4.0
...,...,...,...,...
5327,suryajijvania,More Parts,It's master piece by Zack please part 234 also...,10.0
5328,shishirkmr-82243,It's a fantastic movie,No words to describe. It's awesome. One of the...,10.0
5329,moizsyed-07601,Awesome out standing!,Far better than previous one and better editin...,10.0
5330,samun_shrestha,EPIC,Why did the studio say no to this masterpiece?...,10.0
5331,mmuradali-65680,The best DC movie till date,Overall Opinion-Although the competitors Marve...,10.0

In [6]:
data_df["AUTHOR_ID"] = data_df.index +1
data_df

,AUTHOR,TITLE,REVIEW,RATING,AUTHOR_ID
0,margarida-44311,Not Bad,I don't get all the terrible reviews for this ...,5.0,1
1,joemay-2,What are all the bad reviews about is it a wo...,I cannot believe anyone could give this film l...,8.0,2
2,nebk,Great White=Jaws Lite,Great White is not the worst way to spend 90 m...,4.0,3
3,kuarinofu,Bare-bones killer shark film,Great White is as basic of a killer shark film...,4.0,4
4,Horror_Flick_Fanatic,"Terrible story, dialogue, and CGI",Terrible story dialogue and CGI. The film has ...,4.0,5
...,...,...,...,...,...
5327,suryajijvania,More Parts,It's master piece by Zack please part 234 also...,10.0,5328
5328,shishirkmr-82243,It's a fantastic movie,No words to describe. It's awesome. One of the...,10.0,5329
5329,moizsyed-07601,Awesome out standing!,Far better than previous one and better editin...,10.0,5330
5330,samun_shrestha,EPIC,Why did the studio say no to this masterpiece?...,10.0,5331
5331,mmuradali-65680,The best DC movie till date,Overall Opinion-Although the competitors Marve...,10.0,5332

In [6]:
data_df.to_csv("IMDB_Reviews.csv", index = False)

NameError: name 'data_df' is not defined

In [12]:
author_data = data_df[["AUTHOR_ID","AUTHOR"]]
author_data.set_index('AUTHOR_ID')
author_data =author_data.sort_index(ascending = True)
author_data

      AUTHOR_ID                AUTHOR
0             1       margarida-44311
1             2              joemay-2
2             3                  nebk
3             4             kuarinofu
4             5  Horror_Flick_Fanatic
...         ...                   ...
5327       5328         suryajijvania
5328       5329      shishirkmr-82243
5329       5330        moizsyed-07601
5330       5331        samun_shrestha
5331       5332       mmuradali-65680

[5332 rows x 2 columns]

In [16]:
author_data.to_csv("authors.csv", index = False)

In [19]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5433/author')
connection = engine.connect()

In [20]:
author_data = pd.read_sql("SELECT * FROM authors", connection)
author_data

      AUTHOR_ID                AUTHOR
0             1       margarida-44311
1             2              joemay-2
2             3                  nebk
3             4             kuarinofu
4             5  Horror_Flick_Fanatic
...         ...                   ...
5327       5328         suryajijvania
5328       5329      shishirkmr-82243
5329       5330        moizsyed-07601
5330       5331        samun_shrestha
5331       5332       mmuradali-65680

[5332 rows x 2 columns]